pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. pandas is well suited for many different kinds of data: 

    *Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet

    *Ordered and unordered (not necessarily fixed-frequency) time series data.

    *Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

    *Any other form of observational / statistical data sets. The data need not be labeled at all to be placed into a pandas data structure

In [1]:
import pandas as pd

For this tutorial use the original owid dataset. Data analysis can be simplified by pre-processing a dataset via SQL queries, however for this tutorial I will fully process and visualize the data using Pandas.

In [2]:
filename = 'owid-covid-data.csv'
path = 'C:/Users/Matth/git/DataAnalysisWorkbooks/Covid19/Data/Raw_data/'

# Pandas has a method to read csv files directly.
data = pd.read_csv(path+filename)

In [3]:
# Print a list of columns in the dataframe
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
data.shape  # rows x columns
#data.shape[0] # N rows
#data.shape[1] # N columns

(154911, 67)

In [5]:
data.info()  # column names, data types, N entries, and more.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154911 entries, 0 to 154910
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    154911 non-null  object
 1   continent                                   145592 non-null  object
 2   location                                    154911 non-null  object
 3   date                                        154911 non-null  object
 4   total_cases                                 152118 non-null  float64
 5   new_cases                                   152042 non-null  float64
 6   new_cases_smoothed                          150891 non-null  float64
 7   total_deaths                                134784 non-null  float64
 8   new_deaths                                  134951 non-null  float64
 9   new_deaths_smoothed                         134819 non-null  float64
 10  total_cases_per_million                     151409 non-null  float64
 11  new_cases_per_million                       151333 non-null  float64
 12  new_cases_smoothed_per_million              150187 non-null  float64
 13  total_deaths_per_million                    134088 non-null  float64
 14  new_deaths_per_million                      134255 non-null  float64
 15  new_deaths_smoothed_per_million             134123 non-null  float64
 16  reproduction_rate                           116820 non-null  float64
 17  icu_patients                                20413 non-null   float64
 18  icu_patients_per_million                    20413 non-null   float64
 19  hosp_patients                               21575 non-null   float64
 20  hosp_patients_per_million                   21575 non-null   float64
 21  weekly_icu_admissions                       4298 non-null    float64
 22  weekly_icu_admissions_per_million           4298 non-null    float64
 23  weekly_hosp_admissions                      8701 non-null    float64
 24  weekly_hosp_admissions_per_million          8701 non-null    float64
 25  new_tests                                   61107 non-null   float64
 26  total_tests                                 62746 non-null   float64
 27  total_tests_per_thousand                    62746 non-null   float64
 28  new_tests_per_thousand                      61107 non-null   float64
 29  new_tests_smoothed                          74451 non-null   float64
 30  new_tests_smoothed_per_thousand             73744 non-null   float64
 31  positive_rate                               69532 non-null   float64
 32  tests_per_case                              68875 non-null   float64
 33  tests_units                                 75945 non-null   object
 34  total_vaccinations                          39890 non-null   float64
 35  people_vaccinated                           38459 non-null   float64
 36  people_fully_vaccinated                     35323 non-null   float64
 37  total_boosters                              13108 non-null   float64
 38  new_vaccinations                            33021 non-null   float64
 39  new_vaccinations_smoothed                   73119 non-null   float64
 40  total_vaccinations_per_hundred              39890 non-null   float64
 41  people_vaccinated_per_hundred               38459 non-null   float64
 42  people_fully_vaccinated_per_hundred         35323 non-null   float64
 43  total_boosters_per_hundred                  13108 non-null   float64
 44  new_vaccinations_smoothed_per_million       73119 non-null   float64
 45  new_people_vaccinated_smoothed              72454 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  72454 non-null   float64
 47  stringency_index                            121095 non-null  float64
 48  population                                  153885 non-null  float64
 49  population_density                          137900 non-null  float64
 50  median_age                                  128556 non-null  float64
 51  aged_65_older                               127160 non-null  float64
 52  aged_70_older                               127866 non-null  float64
 53  gdp_per_capita                              129113 non-null  float64
 54  extreme_poverty                             85125 non-null   float64
 55  cardiovasc_death_rate                       127552 non-null  float64
 56  diabetes_prevalence                         134215 non-null  float64
 57  female_smokers                              98913 non-null   float64
 58  male_smokers                                97491 non-null   float64
 59  handwashing_facilities                      63887 non-null   float64
 60  hospital_beds_per_thousand                  115351 non-null  float64
 61  life_expectancy                             144587 non-null  float64
 62  human_development_index                     127027 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 79.2+ MB

In [6]:
# Print the first five rows of the dataframe
data.head()  # Or .tail() for the last five rows

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [7]:
# Print a specific row
data.iloc[5]  # iloc is short for 'integer location'

# Print a specific row and column
data.iloc[5, 3]

# Reading rows in a loop
for index, row in (data.iterrows()):
    if index == 3: break
    print(index, row)

0 iso_code                                           AFG
continent                                         Asia
location                                   Afghanistan
date                                        2020-02-24
total_cases                                        5.0
                                              ...
human_development_index                          0.511
excess_mortality_cumulative_absolute               NaN
excess_mortality_cumulative                        NaN
excess_mortality                                   NaN
excess_mortality_cumulative_per_million            NaN
Name: 0, Length: 67, dtype: object
1 iso_code                                           AFG
continent                                         Asia
location                                   Afghanistan
date                                        2020-02-25
total_cases                                        5.0
                                              ...
human_development_index                          0.511
excess_mortality_cumulative_absolute               NaN
excess_mortality_cumulative                        NaN
excess_mortality                                   NaN
excess_mortality_cumulative_per_million            NaN
Name: 1, Length: 67, dtype: object
2 iso_code                                           AFG
continent                                         Asia
location                                   Afghanistan
date                                        2020-02-26
total_cases                                        5.0
                                              ...
human_development_index                          0.511
excess_mortality_cumulative_absolute               NaN
excess_mortality_cumulative                        NaN
excess_mortality                                   NaN
excess_mortality_cumulative_per_million            NaN
Name: 2, Length: 67, dtype: object

For more on pandas.read_csv(), see: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

<ins>sample of pd.Series methods:</ins>  
max() - maximum value  
argmax() - return index of max value  
abs() - absolute value of every element  
append() - concatenate two Series  
count() - number of non-N/A values in the Series  
describe() - some useful statistics of the Series  
isna() - detect missing values

A full list of methods is available at: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

<ins>sample of pd.DataFrame methods:</ins>  
head() - print first n rows (default = 5)  
describe() - some useful statistics of the Data Frame  
isnull().sum() - prints number of N/A rows for each column  
df[column].plot() - 1D line histogram of column
loc[df.index <= <row_name>].copy()

A full list of methods is available at: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [8]:
# Print statistical information of the dataframe using the .describe() method
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.521180e+05,1.520420e+05,1.508910e+05,1.347840e+05,134951.000000,134819.000000,151409.000000,151333.000000,150187.000000,134088.000000,...,98913.000000,97491.000000,63887.000000,115351.000000,144587.000000,127027.000000,5.234000e+03,5234.000000,5234.000000,5234.000000
mean,2.179361e+06,9.020597e+03,8.824114e+03,5.346377e+04,170.198768,169.629285,24026.684048,117.101736,112.917633,464.148480,...,10.624086,32.765025,50.808165,3.028368,73.583455,0.725820,3.479999e+04,9.011418,16.175762,857.853331
std,1.292392e+07,5.908742e+04,5.468222e+04,2.809356e+05,829.516656,809.990207,39281.323194,444.991939,304.941323,730.507166,...,10.553918,13.515979,31.812348,2.451936,7.496354,0.149982,9.949991e+04,16.669961,31.091730,1283.239325
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.195940e+04,-28.450000,-95.920000,-1745.051271
25%,1.619000e+03,1.000000e+00,6.000000e+00,6.900000e+01,0.000000,0.143000,525.443000,0.025000,1.465000,16.140500,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-9.752500e+01,-0.870000,-0.520000,-37.856745
50%,2.141500e+04,7.100000e+01,9.500000e+01,6.920000e+02,2.000000,2.286000,4083.126000,10.240000,16.290000,108.046000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,2.580050e+03,5.505000,7.205000,401.789828
75%,2.609532e+05,9.440000e+02,9.950000e+02,6.568000e+03,19.000000,20.143000,31547.758000,88.786000,101.687000,630.972000,...,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000,2.147995e+04,13.887500,22.687500,1456.137413
max,3.261528e+08,3.701643e+06,2.946256e+06,5.535426e+06,18062.000000,14704.857000,386379.502000,51427.491000,9241.954000,6093.182000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.043824e+06,115.000000,374.340000,7912.067517

In [9]:
# Drop a column (This is not a permanent change)
data.drop( ['total_deaths'], axis=1 ).head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [10]:
# Combine multiple columns into a new column (Added to the last column, this is a permanent change to the dataframe)
data['caseDeathRatio'] = data['total_cases'] / data['total_deaths']
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,caseDeathRatio
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,NaN

In [11]:
# Check for missing (NULL) data
data.isnull().sum()

iso_code                                        0
continent                                    9319
location                                        0
date                                            0
total_cases                                  2793
                                            ...
excess_mortality_cumulative_absolute       149677
excess_mortality_cumulative                149677
excess_mortality                           149677
excess_mortality_cumulative_per_million    149677
caseDeathRatio                              20128
Length: 68, dtype: int64

In [12]:
# Sorting data
data.sort_values(['date'])

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,caseDeathRatio
110985,PER,South America,Peru,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.60,76.74,0.777,NaN,NaN,NaN,NaN,NaN
91308,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.38,75.05,0.779,NaN,NaN,NaN,NaN,NaN
5462,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN,NaN
110986,PER,South America,Peru,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.60,76.74,0.777,NaN,NaN,NaN,NaN,NaN
5463,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.00,76.67,0.845,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23243,BFA,Africa,Burkina Faso,2022-01-15,20127.0,155.0,109.571,339.0,0.0,0.857,...,23.9,11.877,0.40,61.58,0.452,NaN,NaN,NaN,NaN,59.371681
110984,PRY,South America,Paraguay,2022-01-15,475686.0,NaN,NaN,16670.0,NaN,NaN,...,21.6,79.602,1.30,74.25,0.728,NaN,NaN,NaN,NaN,28.535453
111730,PER,South America,Peru,2022-01-15,2496542.0,22833.0,19693.857,203265.0,10.0,35.143,...,NaN,NaN,1.60,76.74,0.777,NaN,NaN,NaN,NaN,12.282203
108277,PLW,Oceania,Palau,2022-01-15,8.0,0.0,0.000,NaN,NaN,NaN,...,22.7,NaN,4.80,73.70,0.826,NaN,NaN,NaN,NaN,NaN
154910,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,NaN,NaN,5238.0,NaN,NaN,...,30.7,36.791,1.70,61.49,0.571,NaN,NaN,NaN,NaN,43.076938