In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read in the data
filename = 'owid-covid-data.csv'
path = 'C:/Users/Matth/git/DataAnalysisWorkbooks/Covid19/Data/Raw_data/'

data = pd.read_csv(path+filename)

Dealing with missing data: checking, removing, and replacing

In [3]:
# Check for missing (NULL) data
data.isnull().sum()

iso_code                                        0
continent                                    9319
location                                        0
date                                            0
total_cases                                  2793
                                            ...
human_development_index                     27884
excess_mortality_cumulative_absolute       149677
excess_mortality_cumulative                149677
excess_mortality                           149677
excess_mortality_cumulative_per_million    149677
Length: 67, dtype: int64

In [4]:
# What percentage of new_cases entries are NULL?
print(data['new_cases'].isnull().sum() / ( data['new_cases'].isnull().sum() + data['new_cases'].notnull().sum() ) * 100)

# What percentage of excess mortality entries are NULL?
print(data['excess_mortality'].isnull().sum() / (data['excess_mortality'].isnull().sum() + data['excess_mortality'].notnull().sum() ) * 100)

1.852031166282575
96.62128577053922

In [5]:
# Ignore NULL values (Note: This does not change the original dataframe)
data['excess_mortality'].dropna()

1399       2.88
1430       1.31
1460       4.04
1491       7.00
1521      10.22
          ...
149010    -4.48
149040    19.01
149071    25.95
149102    40.99
149132    58.90
Name: excess_mortality, Length: 5234, dtype: float64

In [6]:
# .dropna() on a dataframe will drop ANY row that contains a NULL value
data.dropna()

# or drop rows where ALL the coumns contain NULL
data.dropna(how = 'all')

# or a specified threshold of NULL entries
data.dropna(thresh = 3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154906,ZWE,Africa,Zimbabwe,2022-01-11,223000.0,0.0,760.286,5180.0,0.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
154907,ZWE,Africa,Zimbabwe,2022-01-12,224433.0,1433.0,768.000,5215.0,35.0,17.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
154908,ZWE,Africa,Zimbabwe,2022-01-13,225084.0,651.0,700.857,5222.0,7.0,16.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
154909,ZWE,Africa,Zimbabwe,2022-01-14,225637.0,553.0,622.143,5238.0,16.0,14.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
154910,ZWE,Africa,Zimbabwe,2022-01-15,225637.0,NaN,NaN,5238.0,NaN,NaN,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [7]:
# Replacing null values with zero
data['excess_mortality'].fillna(0)

# Replacing null values with the mean of that column
print(data['new_cases'].mean())
data['new_cases'].fillna(data['new_cases'].mean())

9020.596920587732

0            5.000000
1            0.000000
2            0.000000
3            0.000000
4            0.000000
             ...
154906       0.000000
154907    1433.000000
154908     651.000000
154909     553.000000
154910    9020.596921
Name: new_cases, Length: 154911, dtype: float64

Cleaning data (non-missing)

In [8]:
# Display unique value count of entries (Easy way to spot bad values for discrete data)
data['continent'].value_counts()

# If you have any badly labeled continents (say, Afrida), replace the bad ones with correct ones
# data['continent'].replace({'Afrida' : 'Africa'})

Africa           36722
Europe           34590
Asia             33821
North America    23213
South America     8945
Oceania           8301
Name: continent, dtype: int64

In [9]:
# Check for extreme values in a column
data[data['new_cases'] > 2000000]

# We can see large values of daily cases are coming from aggregate locations (World, etc.)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
62160,OWID_HIC,NaN,High income,2022-01-03,138820689.0,2257112.0,1345299.143,1947484.0,3556.0,3163.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62161,OWID_HIC,NaN,High income,2022-01-04,140956496.0,2135807.0,1493502.286,1951829.0,4345.0,3146.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62162,OWID_HIC,NaN,High income,2022-01-05,143004045.0,2047549.0,1572584.429,1956720.0,4891.0,3141.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62163,OWID_HIC,NaN,High income,2022-01-06,145008435.0,2004390.0,1624460.571,1960777.0,4057.0,3154.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62164,OWID_HIC,NaN,High income,2022-01-07,147283451.0,2275016.0,1754402.571,1964779.0,4002.0,3350.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62167,OWID_HIC,NaN,High income,2022-01-10,152739276.0,2585591.0,1988369.571,1971682.0,3512.0,3456.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62168,OWID_HIC,NaN,High income,2022-01-11,155010608.0,2271332.0,2007730.286,1977082.0,5400.0,3607.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62169,OWID_HIC,NaN,High income,2022-01-12,157578474.0,2567866.0,2082061.286,1982546.0,5464.0,3689.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62170,OWID_HIC,NaN,High income,2022-01-13,159753450.0,2174976.0,2106430.714,1986883.0,4337.0,3729.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62171,OWID_HIC,NaN,High income,2022-01-14,162064094.0,2310644.0,2111520.429,1992077.0,5194.0,3899.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152916,OWID_WRL,NaN,World,2022-01-03,292760256.0,2530174.0,1599149.857,5450937.0,5925.0,5965.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152917,OWID_WRL,NaN,World,2022-01-04,295308938.0,2548682.0,1776439.429,5458740.0,7803.0,6032.714,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152918,OWID_WRL,NaN,World,2022-01-05,297863049.0,2554111.0,1897319.286,5466526.0,7786.0,6011.429,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152919,OWID_WRL,NaN,World,2022-01-06,300483168.0,2620119.0,1989401.143,5473790.0,6713.0,5905.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152920,OWID_WRL,NaN,World,2022-01-07,303413803.0,2930635.0,2168976.429,5480831.0,7041.0,6070.429,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152921,OWID_WRL,NaN,World,2022-01-08,305529037.0,2115234.0,2310079.714,5485976.0,5145.0,6212.571,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152923,OWID_WRL,NaN,World,2022-01-10,310700502.0,3186191.0,2562892.286,5496078.0,6428.0,6370.000,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152924,OWID_WRL,NaN,World,2022-01-11,313578302.0,2877800.0,2609909.143,5504390.0,8312.0,6442.714,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152925,OWID_WRL,NaN,World,2022-01-12,317279945.0,3701643.0,2773842.286,5513619.0,9229.0,6648.857,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152926,OWID_WRL,NaN,World,2022-01-13,320099518.0,2819573.0,2802335.714,5520810.0,7191.0,6717.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152927,OWID_WRL,NaN,World,2022-01-14,323567887.0,3468369.0,2879154.857,5529524.0,8714.0,6956.143,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
152928,OWID_WRL,NaN,World,2022-01-15,326152828.0,2584941.0,2946255.857,5535426.0,5902.0,7064.286,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [10]:
# Check for duplicates
data['continent'].duplicated()

# Note: data.duplicated() checks for rows with all columns exactly the same.

# By default duplicated keeps first row of occurance, to keep the last row of occurance instead:
# data['continent'].duplicated(keep = 'last')  # or keep=False to remove everything that is duplicated

0         False
1          True
2          True
3          True
4          True
          ...
154906     True
154907     True
154908     True
154909     True
154910     True
Name: continent, Length: 154911, dtype: bool

In [11]:
# String cleaning

# Consider a column with header name this_header. To remove characters:
data['date'].str.split('-')  # .str for obj, .dt for data, .cat for category
                             # with ", expand=True", makes new columns out of the split strings

0         [2020, 02, 24]
1         [2020, 02, 25]
2         [2020, 02, 26]
3         [2020, 02, 27]
4         [2020, 02, 28]
               ...
154906    [2022, 01, 11]
154907    [2022, 01, 12]
154908    [2022, 01, 13]
154909    [2022, 01, 14]
154910    [2022, 01, 15]
Name: date, Length: 154911, dtype: object

In [12]:
data['date'].str.replace('-', "/")  # Replace the delimiter with something else

0         2020/02/24
1         2020/02/25
2         2020/02/26
3         2020/02/27
4         2020/02/28
             ...
154906    2022/01/11
154907    2022/01/12
154908    2022/01/13
154909    2022/01/14
154910    2022/01/15
Name: date, Length: 154911, dtype: object

In [13]:
# Pick out rows with specific string
data.loc[data['location'].str.contains('United')]

# Pick out rows without specific string
data.loc[~data['location'].str.contains('United')]

# Pick out strings with regex
import re
data.loc[data['location'].str.contains('Uni|Nat', regex=True)]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
46689,OWID_EUN,NaN,European Union,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46690,OWID_EUN,NaN,European Union,2020-01-24,2.0,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46691,OWID_EUN,NaN,European Union,2020-01-25,3.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46692,OWID_EUN,NaN,European Union,2020-01-26,3.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46693,OWID_EUN,NaN,European Union,2020-01-27,4.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147164,USA,North America,United States,2022-01-11,62385927.0,759804.0,754928.143,842141.0,2278.0,1609.429,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
147165,USA,North America,United States,2022-01-12,63285605.0,899678.0,791822.571,844588.0,2447.0,1673.571,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
147166,USA,North America,United States,2022-01-13,64062060.0,776455.0,786468.286,846463.0,1875.0,1673.429,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
147167,USA,North America,United States,2022-01-14,64917963.0,855903.0,786831.857,849241.0,2778.0,1753.286,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
147168,USA,North America,United States,2022-01-15,65445397.0,527434.0,807849.286,850060.0,819.0,1775.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN